* {
    margin: 0;
    padding: 0;
}

/* frist section  */
#backgrund-text {
    display: flex;
    font-family: 'Inter', sans-serif;
    font-size: 60px;
    color: rgb(255, 255, 255);
    padding-top: 18%;
    padding-left: 6%;
    justify-content: center;
}

.background-image h3 {
    color: rgba(245, 245, 245, 0.781);
    text-align: center;
}

.Donate-now-button {
    text-decoration: none;
    background-image: linear-gradient(rgb(255, 255, 0), tomato);
    padding: 10px 40px;
    color: whitesmoke;
    font-weight: 700;
    border-radius: 10px;
    position: absolute;
    left: 43%;
}

.background-image {
    background-image:
        linear-gradient(to bottom, rgba(255, 255, 255, 0.126), rgb(31, 29, 29)),
        url('img/folod.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 1263px;
    height: 640px;
}


/* section 2 */

.Donate-plan h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 46px;
    color: black;
    text-align: center;
    padding-top: 10%;

}

#donate-details {
    color: rgb(86, 96, 93);
    text-align: center;
    padding-top: 20px;
    font-family: Garamond;
    padding-bottom: 7%;
}


.donate-cart {
    display: flex;
    justify-content: space-between;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 7%;
}

.cart {
    background-color: rgba(131, 154, 154, 0.744);
    color: rgb(81, 89, 89);
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    width: 130px;
    height: 70px;
    border: 1px solid rgb(109, 109, 134);
    text-align: center;

    padding-top: 33px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #aaaaaa;
}

#select-card {
    border: 2px solid red;
    color: rgba(255, 0, 0, 0.751);
    background-color: rgba(179, 41, 94, 0.432);
    border-radius: 10px;
}

.amaount {
    text-align: center;
    padding-bottom: 10px;
}

button {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 15px 32px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}